<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huihe.eg.user.mybatis.dao.ChannelListMapper">
  <resultMap id="BaseResultMap" type="com.huihe.eg.user.model.ChannelListEntity">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="create_time" />
    <result column="update_time" jdbcType="TIMESTAMP" property="update_time" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="platform" jdbcType="VARCHAR" property="platform" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="company_name" jdbcType="VARCHAR" property="company_name" />
    <result column="descr" jdbcType="VARCHAR" property="descr" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id, create_time, update_time, name, platform, url, company_name, descr,status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from eg_channel_list
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from eg_channel_list
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.huihe.eg.user.model.ChannelListEntity">
    insert into eg_channel_list (id, create_time, update_time, 
      name, platform, url, 
      company_name, descr,status,status)
    values (#{id,jdbcType=INTEGER}, #{create_time,jdbcType=TIMESTAMP}, #{update_time,jdbcType=TIMESTAMP}, 
      #{name,jdbcType=VARCHAR}, #{platform,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, 
      #{company_name,jdbcType=VARCHAR}, #{descr,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.huihe.eg.user.model.ChannelListEntity">
    insert into eg_channel_list
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="create_time != null">
        create_time,
      </if>
      <if test="update_time != null">
        update_time,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="platform != null">
        platform,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="company_name != null">
        company_name,
      </if>
      <if test="descr != null">
        descr,
      </if>
      <if test="status != null">
        descr,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="create_time != null">
        #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="update_time != null">
        #{update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="platform != null">
        #{platform,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="company_name != null">
        #{company_name,jdbcType=VARCHAR},
      </if>
      <if test="descr != null">
        #{descr,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.huihe.eg.user.model.ChannelListEntity">
    update eg_channel_list
    <set>
      <if test="create_time != null">
        create_time = #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="update_time != null">
        update_time = #{update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="platform != null">
        platform = #{platform,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="company_name != null">
        company_name = #{company_name,jdbcType=VARCHAR},
      </if>
      <if test="descr != null">
        descr = #{descr,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huihe.eg.user.model.ChannelListEntity">
    update eg_channel_list
    set create_time = #{create_time,jdbcType=TIMESTAMP},
      update_time = #{update_time,jdbcType=TIMESTAMP},
      name = #{name,jdbcType=VARCHAR},
      platform = #{platform,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      company_name = #{company_name,jdbcType=VARCHAR},
      descr = #{descr,jdbcType=VARCHAR},
    status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="query" parameterType="com.huihe.eg.user.model.ChannelListEntity" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM eg_channel_list
    <where>
      <if test="param.id!=null">
        AND id = #{param.id,jdbcType=INTEGER}
      </if>
      <if test="param.create_time!=null">
        AND create_time = #{param.create_time,jdbcType=TIMESTAMP}
      </if>
      <if test="param.update_time!=null">
        AND update_time = #{param.update_time,jdbcType=TIMESTAMP}
      </if>
      <if test="param.name!=null">
        AND name = #{param.name,jdbcType=VARCHAR}
      </if>
      <if test="param.platform!=null">
        AND platform = #{param.platform,jdbcType=VARCHAR}
      </if>
      <if test="param.url!=null">
        AND url = #{param.url,jdbcType=VARCHAR}
      </if>
      <if test="param.company_name!=null">
        AND company_name = #{param.company_name,jdbcType=VARCHAR}
      </if>
      <if test="param.descr!=null">
        AND descr = #{param.descr,jdbcType=VARCHAR}
      </if>
      <if test="param.status!=null">
        AND status = #{param.status,jdbcType=INTEGER}
      </if>
    </where>
  </select>
  <select id="queryListPage" parameterType="com.huihe.eg.user.model.ChannelListEntity" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM eg_channel_list
    <where>
      <if test="param.id!=null">
        AND id = #{param.id,jdbcType=INTEGER}
      </if>
      <if test="param.create_time!=null">
        AND create_time = #{param.create_time,jdbcType=TIMESTAMP}
      </if>
      <if test="param.update_time!=null">
        AND update_time = #{param.update_time,jdbcType=TIMESTAMP}
      </if>
      <if test="param.name!=null">
        AND name = #{param.name,jdbcType=VARCHAR}
      </if>
      <if test="param.platform!=null">
        AND platform = #{param.platform,jdbcType=VARCHAR}
      </if>
      <if test="param.url!=null">
        AND url = #{param.url,jdbcType=VARCHAR}
      </if>
      <if test="param.company_name!=null">
        AND company_name = #{param.company_name,jdbcType=VARCHAR}
      </if>
      <if test="param.descr!=null">
        AND descr = #{param.descr,jdbcType=VARCHAR}
      </if>
      <if test="param.status!=null">
        AND status = #{param.status,jdbcType=INTEGER}
      </if>
    </where>
    ORDER BY id DESC limit #{param.startRow},#{param.pageSize}
  </select>
  <select id="queryListPageCount" parameterType="com.huihe.eg.user.model.ChannelListEntity" resultType="java.lang.Integer">
    SELECT
    count(0)
    FROM eg_channel_list
    <where>
      <if test="param.id!=null">
        AND id = #{param.id,jdbcType=INTEGER}
      </if>
      <if test="param.create_time!=null">
        AND create_time = #{param.create_time,jdbcType=TIMESTAMP}
      </if>
      <if test="param.update_time!=null">
        AND update_time = #{param.update_time,jdbcType=TIMESTAMP}
      </if>
      <if test="param.name!=null">
        AND name = #{param.name,jdbcType=VARCHAR}
      </if>
      <if test="param.platform!=null">
        AND platform = #{param.platform,jdbcType=VARCHAR}
      </if>
      <if test="param.url!=null">
        AND url = #{param.url,jdbcType=VARCHAR}
      </if>
      <if test="param.company_name!=null">
        AND company_name = #{param.company_name,jdbcType=VARCHAR}
      </if>
      <if test="param.descr!=null">
        AND descr = #{param.descr,jdbcType=VARCHAR}
      </if>
      <if test="param.status!=null">
        AND status = #{param.status,jdbcType=INTEGER}
      </if>
    </where>
  </select>
</mapper>