<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huihe.eg.user.mybatis.dao.CountryLanguageMapper">
  <resultMap id="BaseResultMap" type="com.huihe.eg.user.model.CountryLanguageEntity">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="country" jdbcType="VARCHAR" property="country" />
    <result column="language" jdbcType="VARCHAR" property="language" />
  </resultMap>
  <sql id="Base_Column_List">
    id, country, language
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from eg_country_language
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from eg_country_language
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.huihe.eg.user.model.CountryLanguageEntity">
    insert into eg_country_language (id, country, language
      )
    values (#{id,jdbcType=BIGINT}, #{country,jdbcType=VARCHAR}, #{language,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.huihe.eg.user.model.CountryLanguageEntity">
    insert into eg_country_language
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="country != null">
        country,
      </if>
      <if test="language != null">
        language,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="country != null">
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="language != null">
        #{language,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.huihe.eg.user.model.CountryLanguageEntity">
    update eg_country_language
    <set>
      <if test="country != null">
        country = #{country,jdbcType=VARCHAR},
      </if>
      <if test="language != null">
        language = #{language,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huihe.eg.user.model.CountryLanguageEntity">
    update eg_country_language
    set country = #{country,jdbcType=VARCHAR},
      language = #{language,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="query" parameterType="com.huihe.eg.user.model.CountryLanguageEntity" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM eg_country_language
    <where>
      <if test="param.id!=null">
        AND id = #{param.id,jdbcType=BIGINT}
      </if>
      <if test="param.country!=null">
        AND country = #{param.country,jdbcType=VARCHAR}
      </if>
      <if test="param.language!=null">
        AND language = #{param.language,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
  <select id="queryListPage" parameterType="com.huihe.eg.user.model.CountryLanguageEntity" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM eg_country_language
    <where>
      <if test="param.id!=null">
        AND id = #{param.id,jdbcType=BIGINT}
      </if>
      <if test="param.country!=null">
        AND country = #{param.country,jdbcType=VARCHAR}
      </if>
      <if test="param.language!=null">
        AND language = #{param.language,jdbcType=VARCHAR}
      </if>
    </where>
    ORDER BY id DESC limit #{param.startRow},#{param.pageSize}
  </select>
  <select id="queryListPageCount" parameterType="com.huihe.eg.user.model.CountryLanguageEntity" resultType="java.lang.Integer">
    SELECT
    count(0)
    FROM eg_country_language
    <where>
      <if test="param.id!=null">
        AND id = #{param.id,jdbcType=BIGINT}
      </if>
      <if test="param.country!=null">
        AND country = #{param.country,jdbcType=VARCHAR}
      </if>
      <if test="param.language!=null">
        AND language = #{param.language,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
</mapper>