<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huihe.eg.user.mybatis.dao.CurriculumRecordMapper">
  <resultMap id="BaseResultMap" type="com.huihe.eg.user.model.CurriculumRecordEntity">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="create_time" />
    <result column="update_time" jdbcType="TIMESTAMP" property="update_time" />
    <result column="user_id" jdbcType="BIGINT" property="user_id" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="start_time" jdbcType="TIMESTAMP" property="start_time" />
    <result column="end_time" jdbcType="TIMESTAMP" property="end_time" />
    <result column="group_id" jdbcType="BIGINT" property="group_id" />
  </resultMap>
  <sql id="Base_Column_List">
    id, create_time, update_time, user_id, type, status, start_time, end_time, group_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from eg_curriculum_record
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from eg_curriculum_record
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.huihe.eg.user.model.CurriculumRecordEntity">
    insert into eg_curriculum_record (id, create_time, update_time, 
      user_id, type, status, 
      start_time, end_time, group_id
      )
    values (#{id,jdbcType=BIGINT}, #{create_time,jdbcType=TIMESTAMP}, #{update_time,jdbcType=TIMESTAMP}, 
      #{user_id,jdbcType=BIGINT}, #{type,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{start_time,jdbcType=TIMESTAMP}, #{end_time,jdbcType=TIMESTAMP}, #{group_id,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.huihe.eg.user.model.CurriculumRecordEntity">
    insert into eg_curriculum_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="create_time != null">
        create_time,
      </if>
      <if test="update_time != null">
        update_time,
      </if>
      <if test="user_id != null">
        user_id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="start_time != null">
        start_time,
      </if>
      <if test="end_time != null">
        end_time,
      </if>
      <if test="group_id != null">
        group_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="create_time != null">
        #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="update_time != null">
        #{update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="user_id != null">
        #{user_id,jdbcType=BIGINT},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="start_time != null">
        #{start_time,jdbcType=TIMESTAMP},
      </if>
      <if test="end_time != null">
        #{end_time,jdbcType=TIMESTAMP},
      </if>
      <if test="group_id != null">
        #{group_id,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.huihe.eg.user.model.CurriculumRecordEntity">
    update eg_curriculum_record
    <set>
      <if test="create_time != null">
        create_time = #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="update_time != null">
        update_time = #{update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="user_id != null">
        user_id = #{user_id,jdbcType=BIGINT},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="start_time != null">
        start_time = #{start_time,jdbcType=TIMESTAMP},
      </if>
      <if test="end_time != null">
        end_time = #{end_time,jdbcType=TIMESTAMP},
      </if>
      <if test="group_id != null">
        group_id = #{group_id,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huihe.eg.user.model.CurriculumRecordEntity">
    update eg_curriculum_record
    set create_time = #{create_time,jdbcType=TIMESTAMP},
      update_time = #{update_time,jdbcType=TIMESTAMP},
      user_id = #{user_id,jdbcType=BIGINT},
      type = #{type,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      start_time = #{start_time,jdbcType=TIMESTAMP},
      end_time = #{end_time,jdbcType=TIMESTAMP},
      group_id = #{group_id,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="query" parameterType="com.huihe.eg.user.model.CurriculumRecordEntity" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM eg_curriculum_record
    <where>
      <if test="param.id!=null">
        AND id = #{param.id,jdbcType=BIGINT}
      </if>
      <if test="param.create_time!=null">
        AND create_time = #{param.create_time,jdbcType=TIMESTAMP}
      </if>
      <if test="param.update_time!=null">
        AND update_time = #{param.update_time,jdbcType=TIMESTAMP}
      </if>
      <if test="param.user_id!=null">
        AND user_id = #{param.user_id,jdbcType=BIGINT}
      </if>
      <if test="param.type!=null">
        AND type = #{param.type,jdbcType=VARCHAR}
      </if>
      <if test="param.status!=null">
        AND status = #{param.status,jdbcType=INTEGER}
      </if>
      <if test="param.start_time!=null">
        AND start_time = #{param.start_time,jdbcType=TIMESTAMP}
      </if>
      <if test="param.end_time!=null">
        AND end_time = #{param.end_time,jdbcType=TIMESTAMP}
      </if>
      <if test="param.group_id!=null">
        AND group_id = #{param.group_id,jdbcType=BIGINT}
      </if>
    </where>
  </select>
  <select id="queryListPage" parameterType="com.huihe.eg.user.model.CurriculumRecordEntity" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM eg_curriculum_record
    <where>
      <if test="param.id!=null">
        AND id = #{param.id,jdbcType=BIGINT}
      </if>
      <if test="param.create_time!=null">
        AND create_time = #{param.create_time,jdbcType=TIMESTAMP}
      </if>
      <if test="param.update_time!=null">
        AND update_time = #{param.update_time,jdbcType=TIMESTAMP}
      </if>
      <if test="param.user_id!=null">
        AND user_id = #{param.user_id,jdbcType=BIGINT}
      </if>
      <if test="param.type!=null">
        AND type = #{param.type,jdbcType=VARCHAR}
      </if>
      <if test="param.status!=null">
        AND status = #{param.status,jdbcType=INTEGER}
      </if>
      <if test="param.start_time!=null">
        AND start_time = #{param.start_time,jdbcType=TIMESTAMP}
      </if>
      <if test="param.end_time!=null">
        AND end_time = #{param.end_time,jdbcType=TIMESTAMP}
      </if>
      <if test="param.group_id!=null">
        AND group_id = #{param.group_id,jdbcType=BIGINT}
      </if>
    </where>
    ORDER BY id DESC limit #{param.startRow},#{param.pageSize}
  </select>
  <select id="queryListPageCount" parameterType="com.huihe.eg.user.model.CurriculumRecordEntity" resultType="java.lang.Integer">
    SELECT
    count(0)
    FROM eg_curriculum_record
    <where>
      <if test="param.id!=null">
        AND id = #{param.id,jdbcType=BIGINT}
      </if>
      <if test="param.create_time!=null">
        AND create_time = #{param.create_time,jdbcType=TIMESTAMP}
      </if>
      <if test="param.update_time!=null">
        AND update_time = #{param.update_time,jdbcType=TIMESTAMP}
      </if>
      <if test="param.user_id!=null">
        AND user_id = #{param.user_id,jdbcType=BIGINT}
      </if>
      <if test="param.type!=null">
        AND type = #{param.type,jdbcType=VARCHAR}
      </if>
      <if test="param.status!=null">
        AND status = #{param.status,jdbcType=INTEGER}
      </if>
      <if test="param.start_time!=null">
        AND start_time = #{param.start_time,jdbcType=TIMESTAMP}
      </if>
      <if test="param.end_time!=null">
        AND end_time = #{param.end_time,jdbcType=TIMESTAMP}
      </if>
      <if test="param.group_id!=null">
        AND group_id = #{param.group_id,jdbcType=BIGINT}
      </if>
    </where>
  </select>
  <select id="queryIsTimeConflict" parameterType="com.huihe.eg.user.model.CurriculumRecordEntity"
          resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM eg_curriculum_record
    <where>
      status = 2
      <if test="param.start_time!=null">
        AND #{param.start_time,jdbcType=TIMESTAMP} BETWEEN start_time AND end_time
      </if>
      <if test="param.group_id!=null">
        AND group_id = #{param.group_id,jdbcType=BIGINT}
      </if>
    </where>
    ORDER BY id DESC limit #{param.startRow},#{param.pageSize}
  </select>
  <update id="updateCurriculumStatus" parameterType="com.huihe.eg.user.model.CurriculumRecordEntity">
    update eg_curriculum_record
    SET status=1
    where group_id = #{param.group_id,jdbcType=BIGINT}
  </update>
  <select id="queryExpireClass" parameterType="com.huihe.eg.user.model.CurriculumRecordEntity"
          resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM eg_curriculum_record
    <where>
      status = 2
      <if test="param.start_time!=null">
        AND #{param.start_time,jdbcType=TIMESTAMP} &gt;= end_time
      </if>
    </where>
  </select>
</mapper>