<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huihe.eg.user.mybatis.dao.UserMemberCardMapper">
    <resultMap id="BaseResultMap" type="com.huihe.eg.user.model.UserMemberCardEntity">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="level_id" jdbcType="BIGINT" property="level_id"/>
        <result column="discount" jdbcType="DECIMAL" property="discount"/>
        <result column="amount" jdbcType="DECIMAL" property="amount"/>
        <result column="member_name" jdbcType="VARCHAR" property="member_name"/>
        <result column="discount_amout" jdbcType="DECIMAL" property="discount_amout"/>
        <result column="is_discount" jdbcType="BIT" property="is_discount"/>
        <result column="give_coin" jdbcType="INTEGER" property="give_coin"/>
        <result column="duration" jdbcType="INTEGER" property="duration"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="create_time"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="update_time"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="platform" jdbcType="VARCHAR" property="platform"/>
        <result column="Introduction" jdbcType="VARCHAR" property="Introduction"/>
        <result column="transaction_id" jdbcType="VARCHAR" property="transaction_id"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, level_id, discount, amount, member_name, discount_amout, is_discount, give_coin, 
    duration, create_time, update_time, status, platform, Introduction, transaction_id
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from eg_member_card
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from eg_member_card
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.huihe.eg.user.model.UserMemberCardEntity">
    insert into eg_member_card (id, level_id, discount, 
      amount, member_name, discount_amout, 
      is_discount, give_coin, duration, 
      create_time, update_time, status, 
      platform, Introduction, transaction_id
      )
    values (#{id,jdbcType=BIGINT}, #{level_id,jdbcType=BIGINT}, #{discount,jdbcType=DECIMAL}, 
      #{amount,jdbcType=DECIMAL}, #{member_name,jdbcType=VARCHAR}, #{discount_amout,jdbcType=DECIMAL}, 
      #{is_discount,jdbcType=BIT}, #{give_coin,jdbcType=INTEGER}, #{duration,jdbcType=INTEGER}, 
      #{create_time,jdbcType=TIMESTAMP}, #{update_time,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER}, 
      #{platform,jdbcType=VARCHAR}, #{Introduction,jdbcType=VARCHAR}, #{transaction_id,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.huihe.eg.user.model.UserMemberCardEntity">
        insert into eg_member_card
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="level_id != null">
                level_id,
            </if>
            <if test="discount != null">
                discount,
            </if>
            <if test="amount != null">
                amount,
            </if>
            <if test="member_name != null">
                member_name,
            </if>
            <if test="discount_amout != null">
                discount_amout,
            </if>
            <if test="is_discount != null">
                is_discount,
            </if>
            <if test="give_coin != null">
                give_coin,
            </if>
            <if test="duration != null">
                duration,
            </if>
            <if test="create_time != null">
                create_time,
            </if>
            <if test="update_time != null">
                update_time,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="platform != null">
                platform,
            </if>
            <if test="Introduction != null">
                Introduction,
            </if>
            <if test="transaction_id != null">
                transaction_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="level_id != null">
                #{level_id,jdbcType=BIGINT},
            </if>
            <if test="discount != null">
                #{discount,jdbcType=DECIMAL},
            </if>
            <if test="amount != null">
                #{amount,jdbcType=DECIMAL},
            </if>
            <if test="member_name != null">
                #{member_name,jdbcType=VARCHAR},
            </if>
            <if test="discount_amout != null">
                #{discount_amout,jdbcType=DECIMAL},
            </if>
            <if test="is_discount != null">
                #{is_discount,jdbcType=BIT},
            </if>
            <if test="give_coin != null">
                #{give_coin,jdbcType=INTEGER},
            </if>
            <if test="duration != null">
                #{duration,jdbcType=INTEGER},
            </if>
            <if test="create_time != null">
                #{create_time,jdbcType=TIMESTAMP},
            </if>
            <if test="update_time != null">
                #{update_time,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="platform != null">
                #{platform,jdbcType=VARCHAR},
            </if>
            <if test="Introduction != null">
                #{Introduction,jdbcType=VARCHAR},
            </if>
            <if test="transaction_id != null">
                #{transaction_id,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.huihe.eg.user.model.UserMemberCardEntity">
        update eg_member_card
        <set>
            <if test="level_id != null">
                level_id = #{level_id,jdbcType=BIGINT},
            </if>
            <if test="discount != null">
                discount = #{discount,jdbcType=DECIMAL},
            </if>
            <if test="amount != null">
                amount = #{amount,jdbcType=DECIMAL},
            </if>
            <if test="member_name != null">
                member_name = #{member_name,jdbcType=VARCHAR},
            </if>
            <if test="discount_amout != null">
                discount_amout = #{discount_amout,jdbcType=DECIMAL},
            </if>
            <if test="is_discount != null">
                is_discount = #{is_discount,jdbcType=BIT},
            </if>
            <if test="give_coin != null">
                give_coin = #{give_coin,jdbcType=INTEGER},
            </if>
            <if test="duration != null">
                duration = #{duration,jdbcType=INTEGER},
            </if>
            <if test="create_time != null">
                create_time = #{create_time,jdbcType=TIMESTAMP},
            </if>
            <if test="update_time != null">
                update_time = #{update_time,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="platform != null">
                platform = #{platform,jdbcType=VARCHAR},
            </if>
            <if test="Introduction != null">
                Introduction = #{Introduction,jdbcType=VARCHAR},
            </if>
            <if test="transaction_id != null">
                transaction_id = #{transaction_id,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.huihe.eg.user.model.UserMemberCardEntity">
    update eg_member_card
    set level_id = #{level_id,jdbcType=BIGINT},
      discount = #{discount,jdbcType=DECIMAL},
      amount = #{amount,jdbcType=DECIMAL},
      member_name = #{member_name,jdbcType=VARCHAR},
      discount_amout = #{discount_amout,jdbcType=DECIMAL},
      is_discount = #{is_discount,jdbcType=BIT},
      give_coin = #{give_coin,jdbcType=INTEGER},
      duration = #{duration,jdbcType=INTEGER},
      create_time = #{create_time,jdbcType=TIMESTAMP},
      update_time = #{update_time,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      platform = #{platform,jdbcType=VARCHAR},
      Introduction = #{Introduction,jdbcType=VARCHAR},
      transaction_id = #{transaction_id,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
    <select id="query" parameterType="com.huihe.eg.user.model.UserMemberCardEntity" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM eg_member_card
        <where>
            <if test="param.id!=null">
                AND id = #{param.id,jdbcType=BIGINT}
            </if>
            <if test="param.level_id!=null">
                AND level_id = #{param.level_id,jdbcType=BIGINT}
            </if>
            <if test="param.discount!=null">
                AND discount = #{param.discount,jdbcType=DECIMAL}
            </if>
            <if test="param.amount!=null">
                AND amount = #{param.amount,jdbcType=DECIMAL}
            </if>
            <if test="param.member_name!=null">
                AND member_name = #{param.member_name,jdbcType=VARCHAR}
            </if>
            <if test="param.discount_amout!=null">
                AND discount_amout = #{param.discount_amout,jdbcType=DECIMAL}
            </if>
            <if test="param.is_discount!=null">
                AND is_discount = #{param.is_discount,jdbcType=BIT}
            </if>
            <if test="param.give_coin!=null">
                AND give_coin = #{param.give_coin,jdbcType=INTEGER}
            </if>
            <if test="param.duration!=null">
                AND duration = #{param.duration,jdbcType=INTEGER}
            </if>
            <if test="param.create_time!=null">
                AND create_time = #{param.create_time,jdbcType=TIMESTAMP}
            </if>
            <if test="param.update_time!=null">
                AND update_time = #{param.update_time,jdbcType=TIMESTAMP}
            </if>
            <if test="param.status!=null">
                AND status = #{param.status,jdbcType=INTEGER}
            </if>
            <if test="param.platform!=null">
                AND platform = #{param.platform,jdbcType=VARCHAR}
            </if>
            <if test="param.Introduction!=null">
                AND Introduction = #{param.Introduction,jdbcType=VARCHAR}
            </if>
            <if test="param.transaction_id!=null">
                AND transaction_id = #{param.transaction_id,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
    <select id="queryListPage" parameterType="com.huihe.eg.user.model.UserMemberCardEntity" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM eg_member_card
        <where>
            <if test="param.id!=null">
                AND id = #{param.id,jdbcType=BIGINT}
            </if>
            <if test="param.level_id!=null">
                AND level_id = #{param.level_id,jdbcType=BIGINT}
            </if>
            <if test="param.discount!=null">
                AND discount = #{param.discount,jdbcType=DECIMAL}
            </if>
            <if test="param.amount!=null">
                AND amount = #{param.amount,jdbcType=DECIMAL}
            </if>
            <if test="param.member_name!=null">
                AND member_name = #{param.member_name,jdbcType=VARCHAR}
            </if>
            <if test="param.discount_amout!=null">
                AND discount_amout = #{param.discount_amout,jdbcType=DECIMAL}
            </if>
            <if test="param.is_discount!=null">
                AND is_discount = #{param.is_discount,jdbcType=BIT}
            </if>
            <if test="param.give_coin!=null">
                AND give_coin = #{param.give_coin,jdbcType=INTEGER}
            </if>
            <if test="param.duration!=null">
                AND duration = #{param.duration,jdbcType=INTEGER}
            </if>
            <if test="param.create_time!=null">
                AND create_time = #{param.create_time,jdbcType=TIMESTAMP}
            </if>
            <if test="param.update_time!=null">
                AND update_time = #{param.update_time,jdbcType=TIMESTAMP}
            </if>
            <if test="param.status!=null">
                AND status = #{param.status,jdbcType=INTEGER}
            </if>
            <if test="param.platform!=null">
                AND platform = #{param.platform,jdbcType=VARCHAR}
            </if>
            <if test="param.Introduction!=null">
                AND Introduction = #{param.Introduction,jdbcType=VARCHAR}
            </if>
            <if test="param.transaction_id!=null">
                AND transaction_id = #{param.transaction_id,jdbcType=VARCHAR}
            </if>
        </where>
        ORDER BY id DESC limit #{param.startRow},#{param.pageSize}
    </select>
    <select id="queryListPageCount" parameterType="com.huihe.eg.user.model.UserMemberCardEntity"
            resultType="java.lang.Integer">
        SELECT
        count(0)
        FROM eg_member_card
        <where>
            <if test="param.id!=null">
                AND id = #{param.id,jdbcType=BIGINT}
            </if>
            <if test="param.level_id!=null">
                AND level_id = #{param.level_id,jdbcType=BIGINT}
            </if>
            <if test="param.discount!=null">
                AND discount = #{param.discount,jdbcType=DECIMAL}
            </if>
            <if test="param.amount!=null">
                AND amount = #{param.amount,jdbcType=DECIMAL}
            </if>
            <if test="param.member_name!=null">
                AND member_name = #{param.member_name,jdbcType=VARCHAR}
            </if>
            <if test="param.discount_amout!=null">
                AND discount_amout = #{param.discount_amout,jdbcType=DECIMAL}
            </if>
            <if test="param.is_discount!=null">
                AND is_discount = #{param.is_discount,jdbcType=BIT}
            </if>
            <if test="param.give_coin!=null">
                AND give_coin = #{param.give_coin,jdbcType=INTEGER}
            </if>
            <if test="param.duration!=null">
                AND duration = #{param.duration,jdbcType=INTEGER}
            </if>
            <if test="param.create_time!=null">
                AND create_time = #{param.create_time,jdbcType=TIMESTAMP}
            </if>
            <if test="param.update_time!=null">
                AND update_time = #{param.update_time,jdbcType=TIMESTAMP}
            </if>
            <if test="param.status!=null">
                AND status = #{param.status,jdbcType=INTEGER}
            </if>
            <if test="param.platform!=null">
                AND platform = #{param.platform,jdbcType=VARCHAR}
            </if>
            <if test="param.Introduction!=null">
                AND Introduction = #{param.Introduction,jdbcType=VARCHAR}
            </if>
            <if test="param.transaction_id!=null">
                AND transaction_id = #{param.transaction_id,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
</mapper>