<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huihe.eg.user.mybatis.dao.UserCompanyMapper">
  <resultMap id="BaseResultMap" type="com.huihe.eg.user.model.UserCompanyEntity">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="user_id" />
    <result column="company_name" jdbcType="VARCHAR" property="company_name" />
    <result column="company_industry" jdbcType="VARCHAR" property="company_industry" />
    <result column="duty" jdbcType="VARCHAR" property="duty" />
    <result column="start_time" jdbcType="VARCHAR" property="start_time" />
    <result column="end_time" jdbcType="VARCHAR" property="end_time" />
    <result column="create_time" jdbcType="TIMESTAMP" property="create_time" />
    <result column="update_time" jdbcType="TIMESTAMP" property="update_time" />
    <result column="is_visible" jdbcType="BIT" property="is_visible" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, company_name, company_industry, duty, start_time, end_time, create_time, 
    update_time, is_visible
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from eg_user_company
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from eg_user_company
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.huihe.eg.user.model.UserCompanyEntity">
    insert into eg_user_company (id, user_id, company_name, 
      company_industry, duty, start_time, 
      end_time, create_time, update_time, 
      is_visible)
    values (#{id,jdbcType=BIGINT}, #{user_id,jdbcType=BIGINT}, #{company_name,jdbcType=VARCHAR}, 
      #{company_industry,jdbcType=VARCHAR}, #{duty,jdbcType=VARCHAR}, #{start_time,jdbcType=VARCHAR}, 
      #{end_time,jdbcType=VARCHAR}, #{create_time,jdbcType=TIMESTAMP}, #{update_time,jdbcType=TIMESTAMP}, 
      #{is_visible,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.huihe.eg.user.model.UserCompanyEntity">
    insert into eg_user_company
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="user_id != null">
        user_id,
      </if>
      <if test="company_name != null">
        company_name,
      </if>
      <if test="company_industry != null">
        company_industry,
      </if>
      <if test="duty != null">
        duty,
      </if>
      <if test="start_time != null">
        start_time,
      </if>
      <if test="end_time != null">
        end_time,
      </if>
      <if test="create_time != null">
        create_time,
      </if>
      <if test="update_time != null">
        update_time,
      </if>
      <if test="is_visible != null">
        is_visible,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="user_id != null">
        #{user_id,jdbcType=BIGINT},
      </if>
      <if test="company_name != null">
        #{company_name,jdbcType=VARCHAR},
      </if>
      <if test="company_industry != null">
        #{company_industry,jdbcType=VARCHAR},
      </if>
      <if test="duty != null">
        #{duty,jdbcType=VARCHAR},
      </if>
      <if test="start_time != null">
        #{start_time,jdbcType=VARCHAR},
      </if>
      <if test="end_time != null">
        #{end_time,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null">
        #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="update_time != null">
        #{update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="is_visible != null">
        #{is_visible,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.huihe.eg.user.model.UserCompanyEntity">
    update eg_user_company
    <set>
      <if test="user_id != null">
        user_id = #{user_id,jdbcType=BIGINT},
      </if>
      <if test="company_name != null">
        company_name = #{company_name,jdbcType=VARCHAR},
      </if>
      <if test="company_industry != null">
        company_industry = #{company_industry,jdbcType=VARCHAR},
      </if>
      <if test="duty != null">
        duty = #{duty,jdbcType=VARCHAR},
      </if>
      <if test="start_time != null">
        start_time = #{start_time,jdbcType=VARCHAR},
      </if>
      <if test="end_time != null">
        end_time = #{end_time,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null">
        create_time = #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="update_time != null">
        update_time = #{update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="is_visible != null">
        is_visible = #{is_visible,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.huihe.eg.user.model.UserCompanyEntity">
    update eg_user_company
    set user_id = #{user_id,jdbcType=BIGINT},
      company_name = #{company_name,jdbcType=VARCHAR},
      company_industry = #{company_industry,jdbcType=VARCHAR},
      duty = #{duty,jdbcType=VARCHAR},
      start_time = #{start_time,jdbcType=VARCHAR},
      end_time = #{end_time,jdbcType=VARCHAR},
      create_time = #{create_time,jdbcType=TIMESTAMP},
      update_time = #{update_time,jdbcType=TIMESTAMP},
      is_visible = #{is_visible,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="query" parameterType="com.huihe.eg.user.model.UserCompanyEntity" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM eg_user_company
    <where>
      <if test="param.id!=null">
        AND id = #{param.id,jdbcType=BIGINT}
      </if>
      <if test="param.user_id!=null">
        AND user_id = #{param.user_id,jdbcType=BIGINT}
      </if>
      <if test="param.company_name!=null">
        AND company_name = #{param.company_name,jdbcType=VARCHAR}
      </if>
      <if test="param.company_industry!=null">
        AND company_industry = #{param.company_industry,jdbcType=VARCHAR}
      </if>
      <if test="param.duty!=null">
        AND duty = #{param.duty,jdbcType=VARCHAR}
      </if>
      <if test="param.start_time!=null">
        AND start_time = #{param.start_time,jdbcType=VARCHAR}
      </if>
      <if test="param.end_time!=null">
        AND end_time = #{param.end_time,jdbcType=VARCHAR}
      </if>
      <if test="param.create_time!=null">
        AND create_time = #{param.create_time,jdbcType=TIMESTAMP}
      </if>
      <if test="param.update_time!=null">
        AND update_time = #{param.update_time,jdbcType=TIMESTAMP}
      </if>
      <if test="param.is_visible!=null">
        AND is_visible = #{param.is_visible,jdbcType=BIT}
      </if>
    </where>
  </select>
  <select id="queryListPage" parameterType="com.huihe.eg.user.model.UserCompanyEntity" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM eg_user_company
    <where>
      <if test="param.id!=null">
        AND id = #{param.id,jdbcType=BIGINT}
      </if>
      <if test="param.user_id!=null">
        AND user_id = #{param.user_id,jdbcType=BIGINT}
      </if>
      <if test="param.company_name!=null">
        AND company_name = #{param.company_name,jdbcType=VARCHAR}
      </if>
      <if test="param.company_industry!=null">
        AND company_industry = #{param.company_industry,jdbcType=VARCHAR}
      </if>
      <if test="param.duty!=null">
        AND duty = #{param.duty,jdbcType=VARCHAR}
      </if>
      <if test="param.start_time!=null">
        AND start_time = #{param.start_time,jdbcType=VARCHAR}
      </if>
      <if test="param.end_time!=null">
        AND end_time = #{param.end_time,jdbcType=VARCHAR}
      </if>
      <if test="param.create_time!=null">
        AND create_time = #{param.create_time,jdbcType=TIMESTAMP}
      </if>
      <if test="param.update_time!=null">
        AND update_time = #{param.update_time,jdbcType=TIMESTAMP}
      </if>
      <if test="param.is_visible!=null">
        AND is_visible = #{param.is_visible,jdbcType=BIT}
      </if>
    </where>
    ORDER BY id DESC limit #{param.startRow},#{param.pageSize}
  </select>
  <select id="queryListPageCount" parameterType="com.huihe.eg.user.model.UserCompanyEntity" resultType="java.lang.Integer">
    SELECT
    count(0)
    FROM eg_user_company
    <where>
      <if test="param.id!=null">
        AND id = #{param.id,jdbcType=BIGINT}
      </if>
      <if test="param.user_id!=null">
        AND user_id = #{param.user_id,jdbcType=BIGINT}
      </if>
      <if test="param.company_name!=null">
        AND company_name = #{param.company_name,jdbcType=VARCHAR}
      </if>
      <if test="param.company_industry!=null">
        AND company_industry = #{param.company_industry,jdbcType=VARCHAR}
      </if>
      <if test="param.duty!=null">
        AND duty = #{param.duty,jdbcType=VARCHAR}
      </if>
      <if test="param.start_time!=null">
        AND start_time = #{param.start_time,jdbcType=VARCHAR}
      </if>
      <if test="param.end_time!=null">
        AND end_time = #{param.end_time,jdbcType=VARCHAR}
      </if>
      <if test="param.create_time!=null">
        AND create_time = #{param.create_time,jdbcType=TIMESTAMP}
      </if>
      <if test="param.update_time!=null">
        AND update_time = #{param.update_time,jdbcType=TIMESTAMP}
      </if>
      <if test="param.is_visible!=null">
        AND is_visible = #{param.is_visible,jdbcType=BIT}
      </if>
    </where>
  </select>
</mapper>