<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huihe.eg.user.mybatis.dao.UserDeviceMapper">
    <resultMap id="BaseResultMap" type="com.huihe.eg.user.model.UserDeviceEntity">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="user_id" jdbcType="BIGINT" property="user_id"/>
        <result column="imei" jdbcType="VARCHAR" property="imei"/>
        <result column="imsi" jdbcType="VARCHAR" property="imsi"/>
        <result column="model" jdbcType="VARCHAR" property="model"/>
        <result column="vendor" jdbcType="VARCHAR" property="vendor"/>
        <result column="uuid" jdbcType="VARCHAR" property="uuid"/>
        <result column="token" jdbcType="VARCHAR" property="token"/>
        <result column="clientid" jdbcType="VARCHAR" property="clientid"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="create_time"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="version" jdbcType="VARCHAR" property="version"/>
        <result column="language" jdbcType="VARCHAR" property="language"/>
        <result column="appid" jdbcType="VARCHAR" property="appid"/>
        <result column="appkey" jdbcType="VARCHAR" property="appkey"/>
        <result column="voip_token" jdbcType="VARCHAR" property="voip_token"/>
        <result column="idfa" jdbcType="VARCHAR" property="idfa"/>
        <result column="unique_id" jdbcType="VARCHAR" property="unique_id"/>
        <result column="rid" jdbcType="VARCHAR" property="rid"/>
        <result column="teach_pay_token" jdbcType="VARCHAR" property="teach_pay_token"/>
        <result column="teach_pay_rid" jdbcType="VARCHAR" property="teach_pay_rid"/>

    </resultMap>
    <sql id="Base_Column_List">
    id, user_id, imei, imsi, model, vendor, uuid, token, clientid, create_time, name, 
    version, language, appid, appkey, voip_token,idfa,unique_id,rid,teach_pay_token,teach_pay_rid
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from eg_user_device
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from eg_user_device
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.huihe.eg.user.model.UserDeviceEntity">
    insert into eg_user_device (id, user_id, imei, 
      imsi, model, vendor, 
      uuid, token, clientid, 
      create_time, name, version, 
      language, appid, appkey, 
      voip_token,idfa,unique_id)
    values (#{id,jdbcType=BIGINT}, #{user_id,jdbcType=BIGINT}, #{imei,jdbcType=VARCHAR}, 
      #{imsi,jdbcType=VARCHAR}, #{model,jdbcType=VARCHAR}, #{vendor,jdbcType=VARCHAR}, 
      #{uuid,jdbcType=VARCHAR}, #{token,jdbcType=VARCHAR}, #{clientid,jdbcType=VARCHAR}, 
      #{create_time,jdbcType=TIMESTAMP}, #{name,jdbcType=VARCHAR}, #{version,jdbcType=VARCHAR}, 
      #{language,jdbcType=VARCHAR}, #{appid,jdbcType=VARCHAR}, #{appkey,jdbcType=VARCHAR}, 
      #{voip_token,jdbcType=VARCHAR},#{idfa,jdbcType=VARCHAR},#{unique_id,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.huihe.eg.user.model.UserDeviceEntity">
        insert into eg_user_device
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="user_id != null">
                user_id,
            </if>
            <if test="imei != null">
                imei,
            </if>
            <if test="imsi != null">
                imsi,
            </if>
            <if test="model != null">
                model,
            </if>
            <if test="vendor != null">
                vendor,
            </if>
            <if test="uuid != null">
                uuid,
            </if>
            <if test="token != null">
                token,
            </if>
            <if test="clientid != null">
                clientid,
            </if>
            <if test="create_time != null">
                create_time,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="version != null">
                version,
            </if>
            <if test="language != null">
                language,
            </if>
            <if test="appid != null">
                appid,
            </if>
            <if test="appkey != null">
                appkey,
            </if>
            <if test="voip_token != null">
                voip_token,
            </if>
            <if test="idfa != null">
                idfa,
            </if>
            <if test="unique_id != null">
                unique_id,
            </if>
            <if test="rid != null">
                rid,
            </if>
            <if test="teach_pay_token != null">
                teach_pay_token,
            </if>
            <if test="teach_pay_rid != null">
                teach_pay_rid,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="user_id != null">
                #{user_id,jdbcType=BIGINT},
            </if>
            <if test="imei != null">
                #{imei,jdbcType=VARCHAR},
            </if>
            <if test="imsi != null">
                #{imsi,jdbcType=VARCHAR},
            </if>
            <if test="model != null">
                #{model,jdbcType=VARCHAR},
            </if>
            <if test="vendor != null">
                #{vendor,jdbcType=VARCHAR},
            </if>
            <if test="uuid != null">
                #{uuid,jdbcType=VARCHAR},
            </if>
            <if test="token != null">
                #{token,jdbcType=VARCHAR},
            </if>
            <if test="clientid != null">
                #{clientid,jdbcType=VARCHAR},
            </if>
            <if test="create_time != null">
                #{create_time,jdbcType=TIMESTAMP},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="version != null">
                #{version,jdbcType=VARCHAR},
            </if>
            <if test="language != null">
                #{language,jdbcType=VARCHAR},
            </if>
            <if test="appid != null">
                #{appid,jdbcType=VARCHAR},
            </if>
            <if test="appkey != null">
                #{appkey,jdbcType=VARCHAR},
            </if>
            <if test="voip_token != null">
                #{voip_token,jdbcType=VARCHAR},
            </if>
            <if test="idfa != null">
                #{idfa,jdbcType=VARCHAR},
            </if>
            <if test="unique_id != null">
                #{unique_id,jdbcType=VARCHAR},
            </if>
            <if test="rid != null">
                #{rid,jdbcType=VARCHAR},
            </if>
            <if test="teach_pay_token != null">
                #{teach_pay_token,jdbcType=VARCHAR},
            </if>
            <if test="teach_pay_rid != null">
                #{teach_pay_rid,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.huihe.eg.user.model.UserDeviceEntity">
        update eg_user_device
        <set>
            <if test="user_id != null">
                user_id = #{user_id,jdbcType=BIGINT},
            </if>
            <if test="imei != null">
                imei = #{imei,jdbcType=VARCHAR},
            </if>
            <if test="imsi != null">
                imsi = #{imsi,jdbcType=VARCHAR},
            </if>
            <if test="model != null">
                model = #{model,jdbcType=VARCHAR},
            </if>
            <if test="vendor != null">
                vendor = #{vendor,jdbcType=VARCHAR},
            </if>
            <if test="uuid != null">
                uuid = #{uuid,jdbcType=VARCHAR},
            </if>
            <if test="token != null">
                token = #{token,jdbcType=VARCHAR},
            </if>
            <if test="clientid != null">
                clientid = #{clientid,jdbcType=VARCHAR},
            </if>
            <if test="create_time != null">
                create_time = #{create_time,jdbcType=TIMESTAMP},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="version != null">
                version = #{version,jdbcType=VARCHAR},
            </if>
            <if test="language != null">
                language = #{language,jdbcType=VARCHAR},
            </if>
            <if test="appid != null">
                appid = #{appid,jdbcType=VARCHAR},
            </if>
            <if test="appkey != null">
                appkey = #{appkey,jdbcType=VARCHAR},
            </if>
            <if test="voip_token != null">
                voip_token = #{voip_token,jdbcType=VARCHAR},
            </if>
            <if test="idfa != null">
                idfa = #{idfa,jdbcType=VARCHAR},
            </if>
            <if test="unique_id != null">
                unique_id = #{unique_id,jdbcType=VARCHAR},
            </if>
            <if test="rid != null">
                rid = #{rid,jdbcType=VARCHAR},
            </if>
            <if test="teach_pay_token != null">
                teach_pay_token = #{teach_pay_token,jdbcType=VARCHAR},
            </if>
            <if test="teach_pay_rid != null">
                teach_pay_rid = #{teach_pay_rid,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.huihe.eg.user.model.UserDeviceEntity">
    update eg_user_device
    set user_id = #{user_id,jdbcType=BIGINT},
      imei = #{imei,jdbcType=VARCHAR},
      imsi = #{imsi,jdbcType=VARCHAR},
      model = #{model,jdbcType=VARCHAR},
      vendor = #{vendor,jdbcType=VARCHAR},
      uuid = #{uuid,jdbcType=VARCHAR},
      token = #{token,jdbcType=VARCHAR},
      clientid = #{clientid,jdbcType=VARCHAR},
      create_time = #{create_time,jdbcType=TIMESTAMP},
      name = #{name,jdbcType=VARCHAR},
      version = #{version,jdbcType=VARCHAR},
      language = #{language,jdbcType=VARCHAR},
      appid = #{appid,jdbcType=VARCHAR},
      appkey = #{appkey,jdbcType=VARCHAR},
      voip_token = #{voip_token,jdbcType=VARCHAR},
      idfa = #{idfa,jdbcType=VARCHAR},
      unique_id = #{unique_id,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
    <select id="query" parameterType="com.huihe.eg.user.model.UserDeviceEntity" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM eg_user_device
        <where>
            <if test="param.id!=null">
                AND id = #{param.id,jdbcType=BIGINT}
            </if>
            <if test="param.user_id!=null">
                AND user_id = #{param.user_id,jdbcType=BIGINT}
            </if>
            <if test="param.imei!=null">
                AND imei = #{param.imei,jdbcType=VARCHAR}
            </if>
            <if test="param.imsi!=null">
                AND imsi = #{param.imsi,jdbcType=VARCHAR}
            </if>
            <if test="param.model!=null">
                AND model = #{param.model,jdbcType=VARCHAR}
            </if>
            <if test="param.vendor!=null">
                AND vendor = #{param.vendor,jdbcType=VARCHAR}
            </if>
            <if test="param.uuid!=null">
                AND uuid = #{param.uuid,jdbcType=VARCHAR}
            </if>
            <if test="param.token!=null">
                AND token = #{param.token,jdbcType=VARCHAR}
            </if>
            <if test="param.clientid!=null">
                AND clientid = #{param.clientid,jdbcType=VARCHAR}
            </if>
            <if test="param.create_time!=null">
                AND create_time = #{param.create_time,jdbcType=TIMESTAMP}
            </if>
            <if test="param.name!=null">
                AND name = #{param.name,jdbcType=VARCHAR}
            </if>
            <if test="param.version!=null">
                AND version = #{param.version,jdbcType=VARCHAR}
            </if>
            <if test="param.language!=null">
                AND language = #{param.language,jdbcType=VARCHAR}
            </if>
            <if test="param.appid!=null">
                AND appid = #{param.appid,jdbcType=VARCHAR}
            </if>
            <if test="param.appkey!=null">
                AND appkey = #{param.appkey,jdbcType=VARCHAR}
            </if>
            <if test="param.voip_token!=null">
                AND voip_token = #{param.voip_token,jdbcType=VARCHAR}
            </if>
            <if test="param.idfa!=null">
                AND idfa = #{param.idfa,jdbcType=VARCHAR}
            </if>
            <if test="param.unique_id!=null">
                AND unique_id = #{param.unique_id,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
    <select id="queryListPage" parameterType="com.huihe.eg.user.model.UserDeviceEntity" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM eg_user_device
        <where>
            <if test="param.id!=null">
                AND id = #{param.id,jdbcType=BIGINT}
            </if>
            <if test="param.user_id!=null">
                AND user_id = #{param.user_id,jdbcType=BIGINT}
            </if>
            <if test="param.imei!=null">
                AND imei = #{param.imei,jdbcType=VARCHAR}
            </if>
            <if test="param.imsi!=null">
                AND imsi = #{param.imsi,jdbcType=VARCHAR}
            </if>
            <if test="param.model!=null">
                AND model = #{param.model,jdbcType=VARCHAR}
            </if>
            <if test="param.vendor!=null">
                AND vendor = #{param.vendor,jdbcType=VARCHAR}
            </if>
            <if test="param.uuid!=null">
                AND uuid = #{param.uuid,jdbcType=VARCHAR}
            </if>
            <if test="param.token!=null">
                AND token = #{param.token,jdbcType=VARCHAR}
            </if>
            <if test="param.clientid!=null">
                AND clientid = #{param.clientid,jdbcType=VARCHAR}
            </if>
            <if test="param.create_time!=null">
                AND create_time = #{param.create_time,jdbcType=TIMESTAMP}
            </if>
            <if test="param.name!=null">
                AND name = #{param.name,jdbcType=VARCHAR}
            </if>
            <if test="param.version!=null">
                AND version = #{param.version,jdbcType=VARCHAR}
            </if>
            <if test="param.language!=null">
                AND language = #{param.language,jdbcType=VARCHAR}
            </if>
            <if test="param.appid!=null">
                AND appid = #{param.appid,jdbcType=VARCHAR}
            </if>
            <if test="param.appkey!=null">
                AND appkey = #{param.appkey,jdbcType=VARCHAR}
            </if>
            <if test="param.voip_token!=null">
                AND voip_token = #{param.voip_token,jdbcType=VARCHAR}
            </if>
            <if test="param.idfa!=null">
                AND idfa = #{param.idfa,jdbcType=VARCHAR}
            </if>
            <if test="param.unique_id!=null">
                AND unique_id = #{param.unique_id,jdbcType=VARCHAR}
            </if>
        </where>
        ORDER BY id DESC limit #{param.startRow},#{param.pageSize}
    </select>
    <select id="queryListPageCount" parameterType="com.huihe.eg.user.model.UserDeviceEntity"
            resultType="java.lang.Integer">
        SELECT
        count(0)
        FROM eg_user_device
        <where>
            <if test="param.id!=null">
                AND id = #{param.id,jdbcType=BIGINT}
            </if>
            <if test="param.user_id!=null">
                AND user_id = #{param.user_id,jdbcType=BIGINT}
            </if>
            <if test="param.imei!=null">
                AND imei = #{param.imei,jdbcType=VARCHAR}
            </if>
            <if test="param.imsi!=null">
                AND imsi = #{param.imsi,jdbcType=VARCHAR}
            </if>
            <if test="param.model!=null">
                AND model = #{param.model,jdbcType=VARCHAR}
            </if>
            <if test="param.vendor!=null">
                AND vendor = #{param.vendor,jdbcType=VARCHAR}
            </if>
            <if test="param.uuid!=null">
                AND uuid = #{param.uuid,jdbcType=VARCHAR}
            </if>
            <if test="param.token!=null">
                AND token = #{param.token,jdbcType=VARCHAR}
            </if>
            <if test="param.clientid!=null">
                AND clientid = #{param.clientid,jdbcType=VARCHAR}
            </if>
            <if test="param.create_time!=null">
                AND create_time = #{param.create_time,jdbcType=TIMESTAMP}
            </if>
            <if test="param.name!=null">
                AND name = #{param.name,jdbcType=VARCHAR}
            </if>
            <if test="param.version!=null">
                AND version = #{param.version,jdbcType=VARCHAR}
            </if>
            <if test="param.language!=null">
                AND language = #{param.language,jdbcType=VARCHAR}
            </if>
            <if test="param.appid!=null">
                AND appid = #{param.appid,jdbcType=VARCHAR}
            </if>
            <if test="param.appkey!=null">
                AND appkey = #{param.appkey,jdbcType=VARCHAR}
            </if>
            <if test="param.voip_token!=null">
                AND voip_token = #{param.voip_token,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
    <select id="queryByMessage" resultType="com.huihe.eg.user.model.UserDeviceEntity">
        SELECT
        <include refid="Base_Column_List"/>
        FROM eg_user_device
        <where>
            <if test="param.name!=null">
                AND name = #{param.name,jdbcType=VARCHAR}
            </if>
            <if test="param.create_time!=null">
                AND DATE_FORMAT(create_time,'%Y-%m-%d') =
                DATE_FORMAT(#{param.create_time,jdbcType=TIMESTAMP},'%Y-%m-%d')
            </if>
        </where>
    </select>
</mapper>