<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huihe.eg.authorization.mybatis.dao.ButtonMapper">
    <resultMap id="BaseResultMap" type="com.huihe.eg.authorization.model.ButtonEntity">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="create_time"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="update_time"/>
        <result column="descr" jdbcType="VARCHAR" property="descr"/>
        <result column="add_user" jdbcType="VARCHAR" property="add_user"/>
        <result column="update_user" jdbcType="VARCHAR" property="update_user"/>
        <result column="menu_id" jdbcType="BIGINT" property="menu_id"/>
        <result column="seq" jdbcType="INTEGER" property="seq"/>
        <result column="url_id" jdbcType="BIGINT" property="url_id"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, name, create_time, update_time, descr, add_user, update_user, menu_id, seq,url_id
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from authorization_button
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from authorization_button
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.huihe.eg.authorization.model.ButtonEntity">
    insert into authorization_button (id, name, create_time, 
      update_time, descr, add_user, 
      update_user, menu_id, seq,url_id
      )
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{create_time,jdbcType=TIMESTAMP}, 
      #{update_time,jdbcType=TIMESTAMP}, #{descr,jdbcType=VARCHAR}, #{add_user,jdbcType=VARCHAR}, 
      #{update_user,jdbcType=VARCHAR}, #{menu_id,jdbcType=BIGINT}, #{seq,jdbcType=INTEGER} ,#{url_id,jdbcType=BIGINT}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.huihe.eg.authorization.model.ButtonEntity">
        insert into authorization_button
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="create_time != null">
                create_time,
            </if>
            <if test="update_time != null">
                update_time,
            </if>
            <if test="descr != null">
                descr,
            </if>
            <if test="add_user != null">
                add_user,
            </if>
            <if test="update_user != null">
                update_user,
            </if>
            <if test="menu_id != null">
                menu_id,
            </if>
            <if test="seq != null">
                seq,
            </if>
            <if test="url_id != null">
                url_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="create_time != null">
                #{create_time,jdbcType=TIMESTAMP},
            </if>
            <if test="update_time != null">
                #{update_time,jdbcType=TIMESTAMP},
            </if>
            <if test="descr != null">
                #{descr,jdbcType=VARCHAR},
            </if>
            <if test="add_user != null">
                #{add_user,jdbcType=VARCHAR},
            </if>
            <if test="update_user != null">
                #{update_user,jdbcType=VARCHAR},
            </if>
            <if test="menu_id != null">
                #{menu_id,jdbcType=BIGINT},
            </if>
            <if test="seq != null">
                #{seq,jdbcType=INTEGER},
            </if>
            <if test="url_id != null">
                #{url_id,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.huihe.eg.authorization.model.ButtonEntity">
        update authorization_button
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="create_time != null">
                create_time = #{create_time,jdbcType=TIMESTAMP},
            </if>
            <if test="update_time != null">
                update_time = #{update_time,jdbcType=TIMESTAMP},
            </if>
            <if test="descr != null">
                descr = #{descr,jdbcType=VARCHAR},
            </if>
            <if test="add_user != null">
                add_user = #{add_user,jdbcType=VARCHAR},
            </if>
            <if test="update_user != null">
                update_user = #{update_user,jdbcType=VARCHAR},
            </if>
            <if test="menu_id != null">
                menu_id = #{menu_id,jdbcType=BIGINT},
            </if>
            <if test="seq != null">
                seq = #{seq,jdbcType=INTEGER},
            </if>
            <if test="url_id != null">
                url_id = #{url_id,jdbcType=BIGINT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.huihe.eg.authorization.model.ButtonEntity">
    update authorization_button
    set name = #{name,jdbcType=VARCHAR},
      create_time = #{create_time,jdbcType=TIMESTAMP},
      update_time = #{update_time,jdbcType=TIMESTAMP},
      descr = #{descr,jdbcType=VARCHAR},
      add_user = #{add_user,jdbcType=VARCHAR},
      update_user = #{update_user,jdbcType=VARCHAR},
      menu_id = #{menu_id,jdbcType=BIGINT},
      seq = #{seq,jdbcType=INTEGER}
      url_id = #{url_id,jdbcType=BIGINT},
    where id = #{id,jdbcType=BIGINT}
  </update>
    <select id="query" parameterType="com.huihe.eg.authorization.model.ButtonEntity" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM authorization_button
        <where>
            <if test="param.id!=null">
                AND id = #{param.id,jdbcType=BIGINT}
            </if>
            <if test="param.name!=null">
                AND name = #{param.name,jdbcType=VARCHAR}
            </if>
            <if test="param.create_time!=null">
                AND create_time = #{param.create_time,jdbcType=TIMESTAMP}
            </if>
            <if test="param.update_time!=null">
                AND update_time = #{param.update_time,jdbcType=TIMESTAMP}
            </if>
            <if test="param.descr!=null">
                AND descr = #{param.descr,jdbcType=VARCHAR}
            </if>
            <if test="param.add_user!=null">
                AND add_user = #{param.add_user,jdbcType=VARCHAR}
            </if>
            <if test="param.update_user!=null">
                AND update_user = #{param.update_user,jdbcType=VARCHAR}
            </if>
            <if test="param.menu_id!=null">
                AND menu_id = #{param.menu_id,jdbcType=BIGINT}
            </if>
            <if test="param.seq!=null">
                AND seq = #{param.seq,jdbcType=INTEGER}
            </if>
            <if test="param.url_id!=null">
                AND url_id = #{param.url_id,jdbcType=INTEGER}
            </if>
        </where>
    </select>
    <select id="queryListPage" parameterType="com.huihe.eg.authorization.model.ButtonEntity" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM authorization_button
        <where>
            <if test="param.id!=null">
                AND id = #{param.id,jdbcType=BIGINT}
            </if>
            <if test="param.name!=null">
                AND name = #{param.name,jdbcType=VARCHAR}
            </if>
            <if test="param.create_time!=null">
                AND create_time = #{param.create_time,jdbcType=TIMESTAMP}
            </if>
            <if test="param.update_time!=null">
                AND update_time = #{param.update_time,jdbcType=TIMESTAMP}
            </if>
            <if test="param.descr!=null">
                AND descr = #{param.descr,jdbcType=VARCHAR}
            </if>
            <if test="param.add_user!=null">
                AND add_user = #{param.add_user,jdbcType=VARCHAR}
            </if>
            <if test="param.update_user!=null">
                AND update_user = #{param.update_user,jdbcType=VARCHAR}
            </if>
            <if test="param.menu_id!=null">
                AND menu_id = #{param.menu_id,jdbcType=BIGINT}
            </if>
            <if test="param.seq!=null">
                AND seq = #{param.seq,jdbcType=INTEGER}
            </if>
            <if test="param.url_id!=null">
                AND url_id = #{param.url_id,jdbcType=BIGINT}
            </if>
        </where>
        ORDER BY id DESC limit #{param.startRow},#{param.pageSize}
    </select>
    <select id="queryListPageCount" parameterType="com.huihe.eg.authorization.model.ButtonEntity"
            resultType="java.lang.Integer">
        SELECT
        count(0)
        FROM authorization_button
        <where>
            <if test="param.id!=null">
                AND id = #{param.id,jdbcType=BIGINT}
            </if>
            <if test="param.name!=null">
                AND name = #{param.name,jdbcType=VARCHAR}
            </if>
            <if test="param.create_time!=null">
                AND create_time = #{param.create_time,jdbcType=TIMESTAMP}
            </if>
            <if test="param.update_time!=null">
                AND update_time = #{param.update_time,jdbcType=TIMESTAMP}
            </if>
            <if test="param.descr!=null">
                AND descr = #{param.descr,jdbcType=VARCHAR}
            </if>
            <if test="param.add_user!=null">
                AND add_user = #{param.add_user,jdbcType=VARCHAR}
            </if>
            <if test="param.update_user!=null">
                AND update_user = #{param.update_user,jdbcType=VARCHAR}
            </if>
            <if test="param.menu_id!=null">
                AND menu_id = #{param.menu_id,jdbcType=BIGINT}
            </if>
            <if test="param.seq!=null">
                AND seq = #{param.seq,jdbcType=INTEGER}
            </if>
        </where>
    </select>
    <select id="queryMenuButton" resultType="com.huihe.eg.authorization.model.ButtonEntity">
        SELECT ab.* FROM  authorization_button ab
        INNER JOIN authorization_api_url apu
        ON ab.url_id = apu.id
        INNER JOIN authorization_menu am
        on am.id = apu.menu_id
        WHERE am.id = #{id}
    </select>
</mapper>